@use 'abstracts/mixins' as *;

@use 'base/typography';

@use 'components/piano';

@use "vendors/fontawesome/scss/fontawesome.scss";
@use "vendors/fontawesome/scss/solid.scss"; 
@use "vendors/fontawesome/scss/brands.scss"; 


body {
    background:rgb(74, 74, 74);
    font-family: 'Itim', sans-serif;
}

#owner, #game {
    display: none;
}

#start {
    width: 100vw;
    height: 100vh;

    @include flex
}

#start-container {
    width: 60vw;
    height: 60vh;
    border: 1px solid #fff;
}

.piano-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#plus, #minus {
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    
    border: 0;
    border-radius: 20px;
    outline: none;

    background: rgb(121, 121, 121);
    color: #fff;

    font-size: 1.2em;
}

#octava {
    color: #fff;

    font-family: 'Pacifico', 'Lato', sans-serif;
    font-size: 1.7em;
}

.space {
    width: 100vh;
    min-height: 30vh;

    display: flex;
    justify-content: flex-end;

    margin-right: 3em;
}

#users {
    margin: 0;
    padding: 1em;

    width: 15em;
    height: 20em;

    list-style: none;

    background: #333;
    color: #fff;

    border-radius: 10px;

    li {
        background: #555;
        color: #fff;

        margin-bottom: 0.5em;
        padding: 0.5em;

        border-radius: 5px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &.you {
            background: rgb(34, 34, 34);
        }
        
        &.owner {
            border: 1px solid gold;
        }
    }
}

.fa-crown {
    color: gold;
}