$bg-primary: #4a4a4a;
$bg-secondary: #808080;
$bg-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2), 0 2px 20px 10px rgba(0, 0, 0, 0.19);

$text-primary: #fff;

$input-primary: #333;

$button-primary: #333;
$button-secondary: #555;
$button-third: #777;
$button-heavy: #111;
$button-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);

$users-primary: #333; 
$users-secondary: #555; 
$input-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);

$bg-you: #222222;
