@font-face {
    font-family: 'Pacifico';
    src: url('webfonts/Pacifico-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Itim';
    src: url('webfonts/Itim-Regular.ttf')  format('truetype');
}