@use 'piano';

@use "../extra/fontawesome/scss/fontawesome.scss";
@use "../extra/fontawesome/scss/solid.scss"; 
@use "../extra/fontawesome/scss/brands.scss"; 

@font-face {
    font-family: 'Pacifico';
    src: url('webfonts/Pacifico-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Itim';
    src: url('webfonts/Itim-Regular.ttf')  format('truetype');
}

body {
    background:rgb(74, 74, 74);
    font-family: 'Itim', sans-serif;
}

#owner, #game {
    display: none;
}

#plus, #minus {
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    
    border: 0;
    border-radius: 20px;
    outline: none;

    background: rgb(121, 121, 121);
    color: #fff;

    font-size: 1.2em;
}

#octava {
    color: #fff;

    font-family: 'Pacifico', 'Lato', sans-serif;
    font-size: 1.7em;
}

.space {
    width: 100vh;
    min-height: 30vh;

    display: flex;
    justify-content: flex-end;

    margin-right: 3em;
}

#users {
    margin: 0;
    padding: 1em;

    width: 10em;
    height: 20em;

    list-style: none;

    background: #333;
    color: #fff;

    border-radius: 10px;

    li {
        background: #555;
        color: #fff;

        margin-bottom: 0.5em;
        padding: 0.5em;

        border-radius: 5px;
    }
}