@use '../abstracts/variables' as *;

.input {
    background: #333;
    color: #fff;

    min-width: 10vw;
    min-height: 1vh;

    font-family: 'Itim';
    font-size: 1.2em;
    text-align: center;

    padding: 0.5em 1em 0.5em 1em;

    border: none;
    border-radius: 15px;
    outline: none;

    box-shadow: $input-shadow;
}